core*
*.session
.idea
.ipynb_checkpoints
*.log
*.rds
*.txt
*.h5
*.csv
.R*
iengine*
ipcontroller*
test*.ipynb
.nfs*
*.pyc
*.orig
*.pdf
*sqlite*
*.hd5
*.Rdata
*.dill
*.zip
db
*.gz
*.bgl
*.r2
Untitled*.ipynb
squat/
squat.r
!freeze.txt
*.xlsx
